*{
    padding: 0;
    margin: 0;
}
#header {
background-color: rgba(253, 216, 216, 0.863);
display: flex;
justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
}


.bgBienvenida{
    background-color: rgb(42, 173, 9)
}

#header{
    display: block;
}
#header nav ul{
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(168, 231, 152);
    display: flex;
   justify-content: space-between;
    list-style-type: none;
    font-size: larger;
}

#contenedor-productos{
    margin-top: 8%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 5%;
    margin-bottom: 20vh;
}

#contenedor-productos div{

    display: block;
   text-align: center;
   
}

#contenedor-productos div img{
    width: 60%;
    height: 65%;
    margin-top: 5%;

}
   

.descripcion-producto{
    margin-top: 2%;
    font-size: medium;

}

.btn-agregar{
    height: 5vh;
    margin-top: 3%;
    width: 25%;
    font-size: large;
    border: none;
    background-color: rgb(168, 231, 152);
}
.btn-agregar:hover{
    transform: scale(1.3);
    transition: 0.2s;

}


#img-random{
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-bottom: 5%;
}
#img-random img{
    margin-top: 3%;

    width: 50vh;
    height: 100%;
}

.btn-img{
    text-align: center;
    
}

#btn-fetch{
    width:15vh;
    height: 10vh;
    border-color: rgb(14, 238, 14);
    background-color:rgba(235, 91, 38, 0.829);
    text-underline-offset: none;
}
