*{
    padding: 0;
    margin: 0;
}
#header {
background-color:rgb(245, 228, 228);
display: block;
justify-content: center;
}
#header nav{
    background-color:rgb(245, 228, 228);
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center;
}

.bgBienvenida{
    background-color:rgb(219, 203, 203);
}

.desplegable{
    pointer-events:painted ;
    margin-top: 2vh;
}
.menu{
    margin-left: 1%;
  list-style-type: none;
}

.submenu{
    margin-left: 1%;
    visibility: none;
    position: absolute;
    opacity: 0;
    list-style-type: none;
}

.categorias{

    width: 7vh;
}
.submenu li{
    display: block;
    width: 110%;
    padding: 12px;
    text-decoration: none;
}
.submenu li:hover{
    background-color: rgb(219, 203, 203);
}
.btn_categorias{
    outline: none;
    border: none;
    background-color: transparent;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transition: opacity 1.5s;  
}

.carousel-inner{
    height: 55vh;
}
.carousel-item img{
    height: 70vh;
}

#miCarrito{
    margin-top: 1vh;
    background-color: transparent;
    border: none;
    width: 3.5%;
    height: 8vh;
    outline: none;
}

#modal .Carrito_vacio{
    border: none;
    display: flex;
    justify-content: center;
}

#modal .CarritoVacio{
    font-size: x-large;
}
.form_usuario{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    opacity: 0;
    pointer-events:none ;

}
.form_show{
    opacity: 1;
    pointer-events:unset;
}
#contenedor_form{
    border: solid rgb(117, 159, 236) 2px;
    margin-top: 4%;
    padding: 1em 2em;
    background-color:  rgb(254, 251, 255);
    max-height: 400px;
    height: 700px;
    width: 400px;
    max-width: 600px;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    scrollbar-width: 10%;
}

.div_form{
    margin-top: 10%;
    display: flex;
    gap: 10%;
   
}
.div_form input{
   height: 5vh;
 }
.div_form p{
   font-size: large;
 color: rgb(14, 81, 204);
}

.textboxEmail{
    margin-left: 7.5% ;
}
.btn_submit{
    font-size: large;
    width: 30%;
    margin-top: 8%;
   border:solid 1px rgb(14, 81, 204);
    border-radius: 5px;
    background-color: rgb(191, 206, 235);
}

#btn_cerrarForm{
  margin-left: 95%;
    border: none;
    background-color: transparent;
    outline: none;
}

.nav div{
    margin-right: 5%;
display: flex;
justify-content: space-between;
}

#btn_form{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: large;
    color: rgb(25, 38, 207);
    
}


#contenedor-productos{
    margin-top: 8%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-bottom: 8vw;
    
}

#contenedor-productos div{
    margin-top: 2%;
    display: block;
   text-align: center;
   
}

#contenedor-productos div img{
    width: 15vw;
    height: 45vh;
    margin-top: 5%;

}
   

.descripcion-producto{
    margin-top: 2%;
    font-size: medium;

}

.btn-agregar{
    height: 5vh;
    margin-top: 3%;
    width: 25%;
    font-size: large;
    border: none;
    background-color: rgb(160, 141, 154);
    outline: none;
}
.btn-agregar:hover{
    transform: scale(1.3);
    transition: 0.2s;

}

#modal .total_compra{
    border: none;
}
#modal .Finalizar{
    border: none;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

#modal .Finalizar .btn_finacompra{
    border: 2px rgb(117, 122, 116) solid;
    background-color: rgb(247, 247, 247);
  width: 25%;
    height: 50%;
    color: rgb(9, 84, 87);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6%;
   
}

#modal .Finalizar .btn_finacompra:hover{
    transform: scale(1.2);
    background-color:rgb(219, 203, 203);
}


.modal_container{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: block;
    margin-left: 65vw;
 background-color:transparent;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events:none ;

}

.carousel_vacio{
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events:none ;
}

.modal_show{
    opacity: 1;
    pointer-events:unset;
} 

#modal{
    border: solid rgb(99, 98, 97) 3px;
    margin-top: 4%;
    padding: 1em 2em;
    background-color:  rgb(254, 251, 255);
    max-height: 400px;
    height: auto;
    width: 450px;
    max-width: 600px;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    scrollbar-width: 10%;
}

#modal div{
    margin-top: 2%;
    border: solid rgb(133, 132, 133) 2.5px;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    width: auto;
    margin-right: 2%;
   
} 

#modal div img{
   margin-top: 2%;
    margin-left: 3%;
    width: 5vw;
    height: 12vh;
}
#modal div p{
    margin-top: 7%;
    font-size: large;
    color: rgb(9, 84, 87);
    font-family: Arial, Helvetica, sans-serif;
}

#modal button{
    background-color: transparent;
    border: none;

    margin-right: 8%;
 
}
#modal button img{
    width: auto;
    height: auto;
}

#btnclose{
    text-align: left;
    border: none;
}

#img-random{
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-bottom: 5%;
}
#img-random img{
    margin-top: 3%;

    width: 50vh;
    height: 100%;
}

.btn-img{
    text-align: center;
    
}

#btn-fetch{
    width:15vh;
    height: 10vh;
    border-color: rgb(14, 238, 14);
    background-color:rgba(235, 91, 38, 0.829);
    text-underline-offset: none;
}


#footer{
    background-color: rgb(245, 228, 228);
    display: flex;
}
  
.links li{
    list-style-type: none;
}
.icono{
    display: block;
    align-items: baseline;
    margin-left: 10%;
    margin-top: 30%;
    margin-bottom: 1%;
    width: 30%;
    height: 3%;
}

.Pmapa{
    margin-top: 13%;
}
.mapa{
    width: 110%;
   height: 60%;
}